<div class="login-container">
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Advanced login -->
        <form action="#" class="login-form">
          <div class="panel panel-body">
            <div class="form-group">
              <a class="btn bg-indigo-400 btn-block" [routerLink]="['/admin', '/login']">Admin Portal</a>
            </div>

            <div class="form-group">
              <a class="btn bg-indigo-400 btn-block" [routerLink]="['/sponsor', '/login']">Sponsor Portal</a>
            </div>

            <div class="form-group">
              <a class="btn bg-indigo-400 btn-block">Student Portal</a>
            </div>

            <div class="form-group">
              <a class="btn bg-indigo-400 btn-block">Alumini Portal</a>
            </div>

          </div>
        </form>
        <!-- /advanced login -->

      </div>
      <!-- /main content -->




    </div>
    <!-- /page content -->
    <div class="copy-and-credits text-center">
      <img src="../../assets/images/ed-admin-dark.png" /><br />
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Contact SUNY</a></li>
      </ul>
      &copy; Copyright 2016 Ed-admin Pty Ltd
    </div>
  </div>
</div>