<ul class="breadcrumb breadcrumb-caret">
	<li><a href="#"><i class="icon-home2 position-left"></i></a></li>
	<li><a href="#">Communications</a></li>
	<li><a href="#">Setup</a></li>
	<li class="active">E-mail Templates</li>
</ul>
		




		
	
	
			
				

			




<!-- Simple panel -->
<div class="panel panel-flat">

	<div class="panel-body">
	
	
	

		<div class="row">
			<div class="col-md-4">
				<div class="form-group form-group-material">
					<label class="control-label">E-mail Template</label>
					<select class="selectpicker form-control" placeholder="Select Template">
						<option value="" selected="selected">Select Template</option>
						<option value="0">New Template</option>
						<option value="1">Template 1</option>
						<option value="2">Template 2</option>
						<option value="3">Template 3</option>
					</select>
				</div>
			</div>
			<div class="col-md-2">									
				<div class="form-group form-group-material">
					<label class="control-label">Action</label>
					<select class="selectpicker form-control" placeholder="Select Action">
						<option value="" selected="selected">Select Action</option>
						<option value="1">Edit</option>
						<option value="2">Delete</option>
						<option value="1">Preview</option>
					</select>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group form-group-material">
					<div class="form-group form-group-material">
						<label class="control-label">Template Name</label>
						<input type="text" class="form-control" placeholder="Template Name">
					</div>
				</div>
			</div>
			<div class="col-md-2">									
				<div class="form-group form-group-material" style="margin-top:40px">
					<div class="checkbox">
					<label>
						<input type="checkbox" class="styled" checked="checked">
						Default
					</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

						
						<div class="form-group form-group-material">
							<textarea class="ckeditor form-control" name="editor" id="editor" rows="4" cols="4">									
							</textarea>
						</div>
						
						<div class="form-group form-group-material">
					<form action="#" class="dropzone" id="dropzone_remove"></form>
				</div>
				<div class="text-right">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>

			</div>
			
			
			
			
			
		</div>
	
	</div>
</div>
	
