<div class="page-footer row">
  <div class="col-md-9">
    <div class="copy-and-credits">
      <img src="../../assets/images/ed-admin-dark.png" /><br />
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Contact SUNY</a></li>
      </ul>
      &copy; Copyright 2016 Ed-admin Pty Ltd
    </div>
  </div>
  <div class="col-md-2">
    <div class="institute-name">
      State University of<br /> New York
    </div>
  </div><div class="col-md-1">
  <div class="institute-logo">
    <img src="../../assets/images/footer-logo.png" />
  </div>
</div>
</div>
